body{
	background-color: #000099;
	color: #80d4ff;
	margin: auto;
	padding:auto;
	}

h1{
	text-align: center;
	}

a{
	color: #ff6600;
	font-size: 20px;
	}
ul{
	list-style-type: disc;
}
li{
	padding: 4px;
}
img{
	width: 300px;
	height: auto;
}
.carousel-inner{
height:800px;
background-position: center;
background-size: cover;
}