body{
	background-color: #00ffff;
	color:#009900;
	}

h1{
	text-align: center;
	}

a{
	border-style: solid;
	border-width:3px;
	border-color: #ff6600
	color:black;
	margin: 10px;
	}
ul{
	list-style-type: disc;
}