*{
    box-sizing: border-box;
}
ul{list-style-type: none;}

th{
	border-width: 3px;
	border-color: red;
	border-style: solid;
	padding: 8px; 
	background-color: white;
	font-size: 130%;	
}
th.food{
	padding: 8px; 
	margin-bottom: 3px;/* has no effect on spacing*/
	background-color: #cccccc;
    text-align: center;
	padding-top: 8px;
}
img{
	width: 300px;
	height:150px;
}
.rounded{
	text-align: center;
	color: #cc0000;
	margin: auto;
	background-color: white;
	border-style: groove;
	border-color: red; 
	font-size: 250%;
	width: 100px;
	border-radius: 1000px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 105px;

}

a{
	color: blue;
}

table{
	font-family: "Palatino";
	float: left;
    margin-top: 10px;
}
.links{
	width: 150px;
	height:100px;
}
.logo{
	border-width: 4px;
	background-color: white;
	border-style: outset;
	border-color: red;
    height: auto;
    padding: 5px;
}

body{
	 background-image:
      -moz-linear-gradient(45deg, #000 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #000 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));

    -moz-background-size:100px 100px;
    background-size:100px 100px;
    -webkit-background-size:100px 101px; 
    
    background-position:0 0, 50px 0, 50px -50px, 0px 50px; /* credit to http://lea.verou.me/2011/02/checkerboard-pattern-with-css3*/
}


td{
	background-color: white;
	border-color: red;
	border-style: solid;
	border-width: 3px;
	text-align: center;
   
}

body{
	align-content: center;
    padding-top: 68px;
}
.fud{height: 300px;}
.coke{
    background-image: url("Images/Coke.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.white{background-color: white;}

footer{
    color: #ff3300;
}

h1{
    text-align: center;
    color: #cc0000;
    margin: auto;
    background-color: white;
    border-style: groove;
    border-color: red; 
    font-size: 250%;
    width: 100px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 105px;
    
}


